[submodule "event_scraper"]
	path = event_scraper
	url = https://github.com/gospodin66/event_scraper.git
	branch = master
[submodule "event_scraper_celery"]
	path = event_scraper_celery
	url = https://github.com/gospodin66/event_scraper_celery.git
	branch = master
[submodule "event_scraper_rabbitmq"]
	path = event_scraper_rabbitmq
	url = https://github.com/gospodin66/event_scraper_rabbitmq.git
